node_modules/
**/node_modules/
.git/
Dockerfile*
.dockerignore
*.log*
.env*
coverage/
**/coverage/
dist/
**/dist/
build/
**/build/
test-results/
playwright-report/
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
